.feynman__link {
  display: flex;
  position: absolute;
  align-content: start;
  right: 48px;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  z-index: 1;
  color: #2f80ed;
  text-decoration: none;
  transition: 0.8s;
}

.feynman__link:hover {
  opacity: 20%;
}
