.table__cell {
  display: flex;
  list-style: none;
  width: 250px;
  flex-wrap: wrap;
  margin-top: 60px;
  color: black;
  align-content: start;
}
.table__cell .table__text:last-of-type {
  margin-bottom: 0;
}

